SECRET_KEY=your-django-app-secret-key
ENVIRONMENT=development
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

# Database
POSTGRES_PASSWORD=db-password
POSTGRES_USER=db-user
POSTGRES_DB=db-name
POSTGRES_HOST=db-service
POSTGRES_PORT=db-port
